/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--font-primary);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  min-block-size: 100dvb;
  font-variation-settings: 'wgth' var(--font-weight-normal);
}

.header {
  display: grid;
  justify-items: center;
  margin-block: 100px;
  border: 2px solid currentColor;
  padding-block: clamp(7.5rem, 6.3585rem + 4.9231vw, 8.5rem) 25px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  background-color: var(--background-color);
}

.logo {
  padding-block-end: 20px;
  outline: none;
  font-weight: var(--font-weight-normal);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  padding-block-end: 23px;
  font-weight: var(--font-weight-normal);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  gap: 12px;
}

.theme-menu__item {
  margin-inline-start: 20px;
}

.theme-menu__button[disabled]::before {
  visibility: visible;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  background-color: currentColor;
  transition: inline-size 0.3s ease, background-color 0.3s ease;
  inline-size: 0%;
}

.theme-menu__button:hover::after,
.theme-menu__button:focus-visible::after {
  background-color: currentColor;
  inline-size: 100%;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  visibility: hidden;
  margin-inline-start: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

@keyframes arrow {
  from {
    margin-inline-start: -20;
  }

  to {
    margin-inline-start: -24px;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

.card__sprint {
  margin-block-end: 50px;
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.card__title {
  padding: 4.5px 24px 4.5px 10px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid currentColor;
  max-block-size: 700px;
  max-inline-size: 100%;
}

.card__image {
  object-fit: cover;
  max-inline-size: 100%;
  min-block-size: 696px;
}

.card__image-blur {
  filter: blur(5px);
}

.card__image-brightness {
  filter: brightness(65%);
}

.card__image-contrast {
  filter: contrast(150%);
}

.card__image-grayscale {
  filter: grayscale(50%);
}

.card__image-hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image-saturate {
  filter: saturate(171%);
}

.card__image-sepia {
  filter: sepia(70%);
}

.card__image-multiple-effects {
  filter: brightness(75%) saturate(140%) contrast(80%);
}

.card__content {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 1.16;
}

.card__actions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  display: grid;
  align-items: center;
  border: 2px solid currentColor;
  box-shadow: none;
  outline: none;
  /* overflow: hidden; */
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.save-button {
  gap: 8px;
  margin: 0 auto;
  margin-block-end: 103px;
  padding: 15px 20px;
  grid-template: auto / repeat(2, max-content);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.card__like-button:hover::before, .save-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible, .save-button:focus-visible {
  box-shadow: 2px 2px currentColor;
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover, .save-button:hover {
  scale: 1;
}

.button__text {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.floppy-icon {
  color: var(--text-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog__content .floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}

.card__like-button {
  padding-block: 11px;
  min-inline-size: 130px;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline-color 0.3s ease;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  text-shadow: 1px -1px 0 var(--background-color), 1px 1px 0 var(--background-color), -1px 1px 0 var(--background-color), -1px -1px 0 var(--background-color);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px var(--background-color)) {
  .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--background-color);
  }
} 

.heart {
  outline: none;
}

.like-icon {
  outline: none;
  cursor: pointer;
  min-inline-size: 39px;
}

.sparks {
  opacity: 0;
}

.dialog {
  position: fixed;
  inset: 0;
  display: grid;
  border: 2px solid var(--accent-color);
  padding: 29px 28.5px;
  color: var(--accent-color);
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 357px;
  max-block-size: 193px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
} 

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 20px;
  padding-block-end: 30px;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.dialog-button {
  padding-block: 10.5px;
  color: var(--accent-color);
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 375px) {
  .page {
    max-inline-size: 100vw;
  }

  .save-button {
    justify-items: center;
    margin-block-end: 100px;
    grid-template: repeat(2, max-content) / auto;
  }

  .card__image-wrapper {
    max-block-size: 375px;
  }

  .card__image {
    min-block-size: 371px;
  }

  .card__title {
    padding: 3px 10px 5px 10px;
  }

  .card__content {
    padding-block: 25.5px;
  }

  .card__label {
    inset-inline-end: 13px;
  }

  .dialog {
    padding: 30px 40px;
    max-inline-size: 341px;
    max-block-size: 195px;
  }

  .dialog__text {
    max-inline-size: 198px;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
