/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--font-primary);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: clamp(20rem, 13.2857rem + 33.5714vw, 43.5rem);
  min-block-size: 100dvb;
  font-variation-settings: 'wgth' var(--font-weight-normal);
}

.header {
  display: grid;
  justify-items: center;
  margin-block: 100px;
  border: 2px solid currentColor;
  padding-block: clamp(7.5rem, 6.3585rem + 4.9231vw, 8.5rem) 25px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  background-color: var(--background-color);
}

.logo {
  padding-block-end: 20px;
  font-weight: var(--font-weight-normal);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  padding-block-end: 23px;
  font-weight: var(--font-weight-normal);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  gap: 12px;
}

.theme-menu__item {
  margin-inline-start: 20px;
}

.theme-menu__button[disabled]::before {
  visibility: visible;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  background-color: currentColor;
  transition: inline-size 0.3s ease, background-color 0.3s ease;
  inline-size: 0%;
}

.theme-menu__button:hover::after,
.theme-menu__button:focus-visible::after {
  background-color: currentColor;
  inline-size: 100%;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  visibility: hidden;
  margin-inline-start: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

@keyframes arrow {
  from {
    margin-inline-start: -20;
  }

  to {
    margin-inline-start: -24px;
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

.card__sprint {
  margin-block-end: 50px;
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.card__title {
  padding: 5px 24px 5px 10px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}

.card__image {
  border-block: 2px solid currentColor;
  object-fit: none;
  max-inline-size: 100%;
}

.card__content {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 1.16;
}

.card__actions {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  place-items: center;
  justify-content: end;
  gap: 12px;
  padding: 0 25px 25px;
}

.button {
  border: 2px solid currentColor;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color);
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
  grid-template: auto / repeat(2, max-content);
}

.like-icon {
  cursor: pointer;
  inline-size: 27px;
}

.card__image-wrapper {
  position: relative;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: lowercase;
  text-shadow: 1px -1px 0 var(--background-color), 1px 1px 0 var(--background-color), -1px 1px 0 var(--background-color), -1px -1px 0 var(--background-color);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

.card__sprint:nth-child(-n+3) .card__label {
  text-transform: uppercase;
}

@media (width <= 375px) {
  .page {
    max-inline-size: 100vw;
  }

  .save-button {
    grid-template: repeat(2, max-content) / auto;
  }

  .card__title {
    padding: 3.5px 10px 5.5px 10px;
  }

  .card__content {
    padding-block-end: 22px;
  }

  .card__image {
    object-fit: contain;
  }
}

@supports(-webkit-text-stroke: 1px var(--background-color)) {
  .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--background-color);
  }
} 
