/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-primary: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P-Regular', monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
