/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-primary: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --background-color: #fff;
  --accent-color: #000;
  --text-color: #fff;
  --heart-contour-color: #000;
  --heart-main-body-color: red;
  --heart-core-color: #fff;
  --heart-sparks-color: red;
  --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
                      linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
}
